# ignore git + CI
.git
.github

# python junk
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache

# local env
.venv
.env

# build outputs
dist
build

# DO NOT ignore src/
# (no "src" line here)
