apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
  namespace: student-reg
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: pg
      port: 5432
      targetPort: 5432
