apiVersion: batch/v1
kind: Job
metadata:
  name: flyway-migrate
  namespace: student-reg
spec:
  backoffLimit: 3
  template:
    spec:
      serviceAccountName: flyway-sa
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: flyway
          image: flyway/flyway:10-alpine
          args: ["-connectRetries=60", "migrate"]
          env:
            - name: FLYWAY_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: flyway_url
            - name: FLYWAY_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: username
            - name: FLYWAY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          volumeMounts:
            - name: migrations
              mountPath: /flyway/sql
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop: ["ALL"]
      volumes:
        - name: migrations
          configMap:
            name: flyway-migrations
